[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dependencies/prezto"]
	path = dependencies/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "dependencies/z.lua"]
	path = dependencies/z.lua
	url = https://github.com/skywind3000/z.lua
